.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.authBox {
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03);
    border: 1px solid #ddd;
}

.pageTitle {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.tabMenu {
    display: flex;
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}

.tabBtn {
    flex: 1;
    padding: 15px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #999;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px; /* 선 겹치기 */
    transition: all 0.2s;
}

.tabBtn.active {
    color: #2ecc71;
    border-bottom-color: #2ecc71;
}

.authForm {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.authForm.active {
    display: flex;
}

.guideText {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.5;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputGroup label {
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.inputGroup input {
    padding: 14px;
    border: 1px solid #ddd;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
}

.inputGroup input:focus {
    border-color: #2ecc71;
}

.submitBtn {
    width: 100%;
    padding: 16px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.submitBtn:hover {
    background-color: #27ae60;
}


.successMsg {
    background-color: #e3f9e5;
    color: #27ae60;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}


.authLinks {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
}

.authLinks a {
    color: #666;
    text-decoration: none;
}

.authLinks a:hover {
    text-decoration: underline;
    color: #333;
}

.authLinks .bar {
    margin: 0 10px;
    color: #ddd;
}